* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif; 
}
.loading{
  width: 50%;
  display: flex;
  align-items: center;
  height: 90px;
  justify-content: center;
}
header {
  padding: 1rem;
  background-color: rgb(25, 25, 182);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header h1 {
  color: white;
}
header img {
  margin-right: 1rem;
}
main {
  padding: 1rem;
  height: 100%;
  width: 100%;
}
.content{
  width: 100%;
  justify-content: space-between;
  display: flex;
}
.carts{
  display: none;
}
main .userData .inputs {
  display: flex;
  flex-direction: column;
}
main .userData .inputs label {
  font-size: 0.8rem;
  margin-top: 10px;
  margin-left: 10px;
}
main .userData {
  display: flex;
  width: 100%;
}
main .userData input {
  height: 1.8rem;
  width: 15rem;
  margin-right: 1rem;
  outline: none;
  border: none;
  border-radius: 1rem;
  background-color: rgb(224, 222, 222);
  padding: 0.5rem;
  font-size: 1rem;
}
main .userData input::placeholder {
  padding-left: 0.5rem;
  color: black;
}
main .userData input:focus{
  border: 2px solid;
  border-color: blue;
}
main .userData button {
  height: 1.8rem;
  width: 5rem;
  background-color: rgb(25, 25, 182);
  color: white;
  border: none;
  border-radius: 1rem;
  font-weight: bold;
  cursor: pointer;
}
main .userData button:hover {
  background-color: blue;
}
main .cart-container p {
  text-align: center;
  color: green;
  font-size: 1.3rem;
}
main .cart-container > p {
  margin: 0 1rem;
}
main .cart-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: end;
  margin-right: 2rem;
}
main .cart-container img {
  cursor: pointer;
}
.space_products{
  width: 100%;
  display: flex;
  margin-top: 2rem;
  justify-content: space-between;
}
.space_products #products {
  display: flex;
  flex-wrap: wrap;
/* display: grid;
grid-template-columns: repeat(3, 19rem); */
}
.cart-items {
  height: 430px;
  width: 22rem;
  background-color: #e0dddd;
  overflow-y: scroll;
}
.cart-items li {
  min-height: 160px;
  width: 95%;
  display: grid;
  grid-template-columns: repeat(3, 135px);
  background-color: white;
  margin: 8px;
}
.cart-items li > p {
  width: 137px;
}
.cart-items li img {
  height: 80px;
  width: 80px;
  border-radius: 10%;
}
.cart-items .items {
  list-style: none;
  height: 300px;
  width: 100%;
}
.cleanCart {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.cleanCart button {
  height: 1.8rem;
  width: 8rem;
  background-color: rgb(25, 25, 182);
  color: white;
  border: none;
  border-radius: 1rem;
  font-weight: bold;
  cursor: pointer;
}
.space_products .cleanCart button:hover{
  background-color: blue;
}
.interactive {
  display: flex;
  margin-right: 10px;
}
.interactive img {
  width: 35px;
  height: 35px;
}
.space_products section.section {
  align-items: center;
  width: 270px;
  margin: 1rem;
  min-height: 280px;
  display: flex;
  flex-direction: column;
}
.space_products #products section.section span {
  opacity: 0;
}
.space_products #products section.section img{
  width: 150;
  height: 150px;
}
.space_products #products section.section  p.title{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(214, 205, 205);
  min-height: 8rem;
  width: 100%;
  text-align: center;
  margin-top: 0.4rem;
  font-size: 1rem;
  margin-bottom: 1rem;
}
.space_products #productssection.section h4.price {
  margin-bottom: 1rem;
}
.space_products #products section.section button.button {
  width: 100%;
  height: 1.9rem;
  background-color: rgb(25, 25, 182);
  font-size: 1rem;
  color: white;
  cursor: pointer;
  border: none;
}
.space_products #products section.section button.button:hover{
  background-color: rgb(35, 211, 255);
  transition: .2s;
}
.space_products .carts .cart-items .items h3 {
  color: red;
  margin-top: 10px;
}
button.btn {
  width: 20px;
  height: 20px;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  border: none;
  color: rgb(25, 25, 182);
  background-color: white;
  cursor: pointer;
}
span {
  display: none;
}